<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--这是针对日志服务的配置-->
  <add key="RabbitMqHost" value="localhost" />
  <add key="RabbitMqUserName" value="guest"/>
  <add key="RabbitMqPassword" value="guest"/>
  <add key="DefaultQueueName" value="LogCenter" />
  <add key="InfoQueueName" value="Info" />
  <add key="WarnQueueName" value="Warn" />
  <add key="ErrorQueueName" value="Error" />
  <add key="DebugQueueName" value="Debug" />

  <!--这是针对日志管理端服务的配置-->
  <add key="SystemSecrect" value="z41IYsZF$Ds1ry!2Q94xw#beYR8cd" />
  <add key="TokenExpireMinutes" value="1440" />

  <!--Socket协议起止符和结束符-->
  <add key="BeginMark" value="/^" />
  <add key="EndMark" value="^/" />
  <add key="LogServiceConfigFileName" value="LogServiceConfig.config" />
</appSettings>