<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="RabbitMqHost" value="localhost" />
  <add key="RabbitMqUserName" value="guest"/>
  <add key="RabbitMqPassword" value="guest"/>
  <add key="QueueName" value="LogCenter" />
  <add key="ChannelName" value="LogCenter" />
  <add key="InfoQueueName" value="Info" />
  <add key="WarnQueueName" value="Warn" />
  <add key="ErrorQueueName" value="Error" />
  <add key="DebugQueueName" value="Debug" />
</appSettings>