<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        --><!-- 不是强命名程序集，不用设置version，publicKeyToken…… --><!--
        <assemblyIdentity name="MSH.LogClient"/>
        --><!-- 不是强命名程序集，不用设置version, 设置href指定文件位置 --><!--
        <codeBase href="file:///D:\MyPrograme\Git\LogSystem\MSH.LogSystem\Log4netClientTest\bin\Debug\MSH.LogClient.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <appSettings>
    <!--Socket协议起止符和结束符-->
    <add key="BeginMark" value="/^" />
    <add key="EndMark" value="^/" />
  </appSettings>
</configuration>