<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreHandlerSection"/>
  </configSections>

  <log4net xmlns="urn:log4net">

    <root>
      <level value="ALL"/>
      <appender-ref ref="MshLogAppender" />
    </root>

    <!--SocketAppender-->
    <appender name="MshLogAppender" type="MSH.LogClient.MshLog4netSocketAppender">
      <param name="ServerHost" value="127.0.0.1"/>
      <param name="ServerPort" value="2012"/>
      <param name="BeginMark" value="/^"/>
      <param name="EndMark" value="^/"/>
      <param name="AppId" value="12121212"/>
      <param name="Secrect" value="7878787878"/>
      <param name="DefaultBusinessPosition" value="默认业务"/>
    </appender>

  </log4net>
</configuration>
