<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreHandlerSection"/>
  </configSections>

  <log4net xmlns="urn:log4net">

    <root>
      <level value="ALL"/>
      <appender-ref ref="MshLogAppender1" />
    </root>

    <!--SocketAppender-->
    <appender name="MshLogAppender1" type="MSH.LogSystem.MshLog4netSocketAppender">
      <param name="RemoteAddress" value="http://localhost/PostLogData.aspx"/>
      <param name="AppId" value="12121212"/>
      <param name="Secrect" value="7878787878"/>
    </appender>

  </log4net>
</configuration>
